body {
  background-color:cadetblue;
}

h1 {
  color: white;
  text-align: center;
}
h2{
    color: white;
    text-align: center;
}
p {
    color: white;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}
/*img{
    margin: auto;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}*/
.contenedor {
  background-color: rgba(0, 0, 0, 0.295);
  width: 100%;
  display: flex;
  justify-content: center; 
  gap: 10px;
}
.imagen{
  width: auto;
  height: auto;
  border-radius: 8px;
}
.imagen img {
  width: auto;
  height: auto;
  border-radius: 8px;
}
 @media (max-width: 600px) {
      .contenedor {
        flex-direction: column;
      }
  }